@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

:root {
    --white: #fefefe;
    --light: #eee;
    --gray: #aaa;
    --dark: #444;
    --black: #0a0a0a;

    --greenFlash: rgba(0, 255, 0, 0.2);
    --redFlash: rgba(255, 0, 0, 0.2);

    --red: #ee4646;
    --orange: #ff9e11;
    --yellow: #ffea00;
    --green: #08d521;
    --teal: #0ce5df;
    --blue: #4470ff;
    --violet: #9860ff;
    --purple: #d13bff;
    --pink: #ff41c0;

    --termPadding: 0.2em 0.4em;
    --termPaddingHover: 0.25em 0.5em;
    --termPaddingSelected: 0.3em 0.6em;
    --termMargin: 0.2em;

    --lightT: rgba(255, 255, 255, 0.5);
    --grayT: rgba(130, 130, 130, 0.5);
    --darkT: rgba(0, 0, 0, 0.5);
}

html {
    background-color: var(--light);
    font-family: 'Nunito', sans-serif;
}
body {
    background-color: var(--light);
    color: var(--dark);
    min-height: 100vh;
    font-size: 300%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    animation-duration: 1s;
}
* {
    text-align: center;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.level {
    background-color: var(--gray);
    color: var(--white);
    width: 4rem;
    height: 4rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 3rem;
    border-radius: 999em;
    user-select: none;
}
.main-term {
    font-size: 120%;
    border-bottom: 2px solid var(--light);
    user-select: none;
}
.options {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
#submit-button {
    background-color: var(--dark);
    color: var(--light);
    font-size: 100%;
    padding: 0.8em 3.2em;
    margin: 0.8em;
    border: none;
    border-radius: 999em;
    box-shadow: 0.4em 0.4em 0.3em 0.2em var(--grayT);
}
#submit-button:hover {
    background-color: var(--light);
    color: var(--black);
    cursor: pointer;
}
.option {
    background-color: var(--light);
    color: var(--dark);
    border-radius: 999em;
    list-style: none;
    padding: var(--termPadding);
    margin: var(--termMargin);
    user-select: none;
    box-shadow: 0.2em 0.2em 0.2em 0.1em var(--grayT);
}
.option-selected {
    color: var(--black);
    font-weight: 700;
    padding: var(--termPaddingSelected) !important;
}
.option:hover {
    cursor: pointer;
    padding: var(--termPaddingHover);
}
.hidden {
    display: none;
}
.correcticon {
    position: relative;
    margin: auto;
    width: 1rem;
    height: 1rem;
    left: 0.3rem;
}
.term {
    background-color: var(--dark);
    color: var(--light);
    padding: var(--termPadding);
    border-radius: 999em;
    font-weight: 800;
}
#noun {
    background-color: var(--red);
}
#verb {
    background-color: var(--orange);
}
#adjective {
    background-color: var(--yellow);
}
#adverb {
    background-color: var(--green);
}
#pronoun {
    background-color: var(--teal);
}
#preposition {
    background-color: var(--blue);
}
#conjunction {
    background-color: var(--violet);
}
#determiner {
    background-color: var(--purple);
}
#interjection {
    background-color: var(--pink);
}
