@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

:root {
    --strongBackground: #fefefe;
    --background: #eee;
    --text: #444;
    --strongText: #0a0a0a;

    --greenFlash: hsla(90, 100%, 40%, 0.5);
    --redFlash: hsla(0, 100%, 40%, 0.5);

    --red: #ee4646;
    --orange: #ff9e11;
    --yellow: #ffea00;
    --green: #08d521;
    --teal: #0ce5df;
    --blue: #4470ff;
    --violet: #9860ff;
    --purple: #d13bff;
    --pink: #ff41c0;

    --termPadding: 0.3em 1.6em;
    --termPaddingHover: 0.32em 1.8em;
    --termPaddingSelected: 0.34em 2em;
    --termMargin: 0.2em;
}
@media (prefers-color-scheme: dark) {
    :root {
        --strongBackground: #0a0a0a;
        --background: #333;
        --text: #eee;
        --strongText: #fff;
    }
}

html {
    font-family: 'Nunito', sans-serif;
}
body {
    background-color: var(--strongBackground);
    color: var(--text);
    min-height: 100vh;
    font-size: 180%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    animation-duration: 1s;
    justify-content: space-around;
    overflow: hidden;
}
* {
    text-align: center;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.flash {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.level {
    background-color: var(--strongText);
    color: var(--strongBackground);
    opacity: 0.4;
    padding: 0.1em 0.5em;
    position: absolute;
    top: 0.2em;
    right: 0.2em;
    font-size: 200%;
    border-radius: 999em;
    z-index: -1;
    user-select: none;
}
.main-term {
    font-size: 120%;
    line-height: 200%;
    border-bottom: 2px solid var(--text);
    user-select: none;
}
.options {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
#submit-button {
    background-color: var(--text);
    color: var(--background);
    box-shadow: 0.4em 0.4em 0.3em 0.2em var(--background);
    font-size: 100%;
    padding: 0.8em 3.2em;
    margin: 0.8em;
    border: none;
    border-radius: 999em;
}
#submit-button:hover {
    background-color: var(--background);
    color: var(--text);
    box-shadow: 0.4em 0.4em 0.3em 0.2em var(--strongBackground);
    cursor: pointer;
}
.option {
    background-color: var(--background);
    color: #000;
    border-radius: 999em;
    font-size: 150%;
    list-style: none;
    padding: var(--termPadding);
    margin: var(--termMargin);
    user-select: none;
    box-shadow: 0.2em 0.2em 0.2em 0.1em var(--background);
}
.option-selected {
    color: var(--strongBackground);
    font-weight: 700;
    padding: var(--termPaddingSelected) !important;
}
.option:hover {
    cursor: pointer;
    padding: var(--termPaddingHover);
}
.hidden {
    display: none;
}
.correcticon {
    position: relative;
    margin: auto;
    width: 1rem;
    height: 1rem;
    left: 0.3rem;
}
.term {
    background-color: var(--text);
    color: var(--background);
    padding: var(--termPadding);
    box-shadow: 0.2em 0.2em 0.2em 0.1em var(--background);
    border-radius: 999em;
    font-weight: 800;
}
#noun {
    background-color: var(--red);
}
#verb {
    background-color: var(--orange);
}
#adjective {
    background-color: var(--yellow);
}
#adverb {
    background-color: var(--green);
}
#pronoun {
    background-color: var(--teal);
}
#preposition {
    background-color: var(--blue);
}
#conjunction {
    background-color: var(--violet);
}
#determiner {
    background-color: var(--purple);
}
#interjection {
    background-color: var(--pink);
}
